<div class="product">
  <div class="breadcrumbs" v-if="product">
    <router-link to="/products">All Products</router-link>
    /
    {{product.name}}
  </div>
  <div class="product-wrapper" v-if="product">
    <div class="product-image">
      <img :src="product.image">
    </div>
    <div class="product-description">
      <div class="name">
        {{product.name}}
      </div>
      <div class="price">
        {{formatPrice(product.price)}}
      </div>
      <div class="description">
        {{product.description}}
      </div>
  
      <div class="add-to-cart">
        <button @click="addToCart(product)" :disabled="submitting === product">
          <span v-if="submitting !== product">Add to Cart</span>
          <span v-else><img src="/images/loader.gif"></span>
        </button>
      </div>
    </div>
  </div>
</div>