body {
  font-family: 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
}

#content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
}

button img {
  height: 1em;
}

input {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.25em 0.5em;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: black;
}

.add-to-cart button {
  background-color: white;
  border: 2px solid #43783E;
  color: #43783E;
  padding: 0.5em 1em;
  border-radius: 16px;
  margin-top: 0.5em;
}

.add-to-cart button:hover {
  background-color: #43783E;
  border: 2px solid #43783E;
  color: white;
}