.cart {
  display: block;
  padding: 0 25px;
  height: 200px;
  font-size: 64px;
  line-height: 200px;
  border-radius: 100px;
  background-color: #f1f1f1;
}

.cart img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.cart-quantity {
  float: right;
  padding-right:50px;
}

.plus-minus {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: grey;
}
.remove-button {
  position: relative;
  top: 50px;
  font-size: X-large;
  right: 50%;
  cursor: pointer;
  background-color: red;
  padding: 10px;
}

.checkout-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
